@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot') format('embedded-opentype'),
         url('../fonts/CenturyGothic.woff2') format('woff2'),
         url('../fonts/CenturyGothic.woff') format('woff'),
         url('../fonts/CenturyGothic.ttf') format('truetype'),
         url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
}

body,h1,h2,h3,h4,p {
  font-family: "CenturyGothic"!important;
}

a, .uk-icon {
    transition: 0.3s;
}


.scroll-indicator {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.scroll-indicator::before{
  content: '╲╱';
  color: #fff;
  position: absolute;
  opacity: 1;
  text-shadow: 0 0 6px rgba(0,0,0,0.5);
  font-size: 20px;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  bottom: 20px;
  left: 50%;
  margin-left: -30px;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.nav-mobile {
    width: 100%;
    z-index: 90;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.navbar-container-left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  -webkit-transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.navbar-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: white;
}

.navbar-button {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
}

@media (min-width: 568px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar-button {
        top: 0;
    }
}

.navbar-menu-label {
  position: absolute;
  top: 0;
  margin: 10px 0px 20px 0;
}

.navbar-button-menu {
  border-radius: 50%;
  padding: 8px;
  border: 1px solid white;
}

.navbar-social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
}

@media (min-width: 568px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar-social {
        position: absolute;
        bottom: 0;
    }
}

.navbar-social-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 -15px;
}

.navbar-social-list-item {
  margin: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
}

.navbar-social-list-item {
    transition: 0.3s;
    cursor: pointer;
}

.navbar-social-list-item:hover {
    opacity: 0.6;
}

.navbar-logo {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}


.intro {
	position: fixed;
	z-index: 10;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #2a2e39;
	transition: transform 0.6s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .intro {
	transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
}

.intro__image {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	min-height: 120%;
	width: auto;
	height: auto;
	opacity: 0.8;
	transition: transform 0.6s, opacity 0.6s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .intro__image {
	opacity: 0;
	transform: translate3d(0, 20%, 0);
}

.uk-offcanvas{
  left: 100px;
}

.large-logo {
  margin: 110px 250px;
}

.uk-offcanvas-bar {
  background-color: #000000;
  width: 680px;
}

.nav-item {
  margin: 0px 34px;
}

.nav-item > a {
  font-size: 46px;
  text-transform: uppercase;
  color: #ffffff!important;
  transition: 0.3s;
}

@media (max-width: 640px) {
    .nav-item > a {
        font-size: 28px;
    }
}

@media (min-width: 568px) and (max-width: 1024px) and (orientation: landscape) {
    .nav-item > a {
        font-size: 26px;
    }
}

.nav-item > a:hover {
    opacity: 0.4;
}

.navbar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 24%;
  margin: auto;
}

@media (min-width: 568px) and (max-width: 1024px) and (orientation: landscape) {
    .navbar-footer {
        display: none;
    }
}

@media (max-width: 640px) {
    .navbar-footer {
        bottom: 60px;
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-footer {
        width: 50%;
        bottom: 68px;
    }
}

.social-icon {
  font-size: 20px;
}

.white {
  color: #ffffff;
}

.nav-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    width: 30%;
    margin: auto;
}

@media (min-width: 568px) and (max-width: 1024px) and (orientation: landscape) {
    .nav-menu {
        top: 20%;
        width: 60%;
    }
}

@media (max-width: 640px) {
    .nav-menu {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .nav-menu {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .reduce-xs {
        font-size: 14px;
        margin-top: 10px;
    }
}

.c-menu {
    position: fixed;
    left: 100px;
    top: 0;
    width: 0;
    height: 100%;
    z-index: 49;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    overflow: hidden;
    display: flex;
  }
  @media (max-width: 640px) {
    .c-menu {
        transition: none;
    }
  }
  @media (max-width: 991px) {
    .c-menu {
      left: 0;
      padding-top: 70px;
    }
  }
  .c-menu-wrap {
    width: 100vw;
    margin-left: -100px;
    flex-shrink: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @media (max-width: 1400px) {
    .c-menu-wrap {
      margin-left: 0;
      width: calc(100vw - 100px);
    }
  }
  @media (max-width: 991px) {
    .c-menu-wrap {
      width: 100vw;
    }
  }
  .is-menu-open .c-menu {
    width: calc(100% - 100px);
  }
  @media (max-width: 991px) {
    .is-menu-open .c-menu {
      width: 100%;
    }
  }
  .c-menu-text {
    margin-bottom: 100px;
    max-width: 560px;
  }
  @media (max-width: 991px) {
    .c-menu-text {
      margin-bottom: 50px;
    }
  }
  @media (max-width: 480px) {
    .c-menu-text {
      margin-bottom: 30px;
    }
  }
  .c-menu .o-box {
    padding-left: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }
  @media (max-width: 991px) {
    .c-menu .o-box {
      min-height: calc(100vh - 70px);
    }
  }
  @media (max-width: 600px) {
    .c-menu .o-box {
      justify-content: flex-start;
    }
  }
  @media (max-width: 480px) {
    .c-menu .o-box {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  }
  @media (max-width: 600px) {
    .c-menu-nav {
      margin-bottom: 50px;
    }
  }
  .c-menu-nav__list {
    list-style: none;
    padding: 0;
  }
  .c-menu-nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
  @media (max-width: 480px) {
    .c-menu-nav__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .c-menu-nav__item-link {
    display: inline-block;
    position: relative;
    color: currentColor;
    margin-bottom: 20px;
  }
  @media (max-width: 480px) {
    .c-menu-nav__item-link {
      margin-bottom: 10px;
    }
  }
  .c-menu-nav__item-link:before {
    content: "";
    height: 6px;
    display: block;
    background: currentColor;
    position: absolute;
    left: -10px;
    box-shadow: 5px 5px 0 0 #001bb3;
    width: 0;
    top: 37px;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  @media (max-width: 767px) {
    .c-menu-nav__item-link:before {
      top: 30px;
      height: 4px;
      box-shadow: 3px 3px 0 0 #001bb3;
    }
  }
  @media (max-width: 480px) {
    .c-menu-nav__item-link:before {
      top: 18px;
      height: 3px;
      box-shadow: 2px 2px 0 0 #001bb3;
    }
  }
  .c-menu-nav__item-link:hover, .c-menu-nav__item-link:focus {
    color: currentColor;
    text-decoration: none;
  }
  .c-menu-nav__item-link:hover:before, .c-menu-nav__item-link:focus:before {
    width: calc(100% + 20px);
  }
  .c-menu-nav__item-title {
    display: block;
  }
  @media (max-width: 480px) {
    .c-menu-nav__item-title {
      font-size: 16px;
    }
  }
  .c-menu-nav__item .h1[text]:after {
    opacity: 0.5;
  }
  .c-menu-animate {
    opacity: 0;
  }
  .c-menu-social {
    font-weight: 600;
    display: none;
    font-size: 12px;
    margin-top: auto;
  }
  @media (max-width: 600px) {
    .c-menu-social {
      display: block;
    }
  }
  .c-menu-social__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 -15px;
  }
  .c-menu-social__link {
    padding: 10px 15px;
    display: block;
    color: currentColor;
    position: relative;
  }
  .c-menu-social__link:hover {
    text-decoration: none;
  }
  .c-menu-social__link:before {
    content: "";
    position: absolute;
    left: 10px;
    top: calc(50% - 1px);
    height: 2px;
    width: 0;
    background: currentColor;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .c-menu-social__link:hover, .c-menu-social__link:focus {
    color: currentColor;
  }
  .c-menu-social__link:hover:before, .c-menu-social__link:focus:before {
    width: calc(100% - 20px);
  }


.uk-heading-line>::after, .uk-heading-line>::before {
    border-bottom: 3px solid #010101;
}

#content {
    background-image: url('../img/content-backgroung.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 60px;
}